export PATH=$HOME/local/bin:$PATH

# rbenv
export PATH="$HOME/.rbenv/bin:$PATH"
# To enable shims and autocompletion add to your profile:
if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi

# Added by the Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

# pngquant - tinypng from the commandline
export PATH="/usr/local/pngquant:$PATH"

# Bay Photo Gem Server
export SSL_CERT_FILE=$HOME/certs/cert.pem
